torch

# pip install --use-feature=2020-resolver

# quality
PyYAML==5.4
black==19.10b0
isort==4.*
prospector==1.3.0
pylint-plugin-utils>=0.5
yapf
autopep8
flynt==0.52
autoflake
docformatter
vulture
flake8
cleanpy
clean-py
add-trailing-comma
trim
unify
pyupgrade
# shed
# gray
git+https://github.com/kwatme/clean_ipynb
joli
